/target/
/.classpath
/.project
/build.gradle
/git.project
/gradlew
/gradlew.bat
/manifest.yml
/misp2.project
.idea
.dccache
.settings
/.idea/
/.checkmate/
logs/*

#All Deploy folder files except the tar
deploy/*
!deploy/FLAREmispService.tar

