/target/
/.classpath
/.project
/build.gradle
/git.project
/gradlew
/gradlew.bat
/manifest.yml
/misp2.project


#All Deploy folder files except the tar
deploy/*
!deploy/FLAREmispService.tar
**/.idea**
.idea/
.idea/**

*.iml
**/.DS_Store
